.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.buttons-div {
  padding: 2rem;

  .card-buttons {
    margin: 1rem;
    padding: 0.3rem;
    // box-shadow: 1px 1px 20px 2px slategray;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    border: solid 1px darkgrey;
    border-radius: 0.5rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .correct-button {
    background-color: lighten($color: springgreen, $amount: 30%);

    // box-shadow: 1px 1px 10px 0px darken($color: springgreen, $amount: 20%);

    &:hover {
      box-shadow: 1px 1px 20px 10px darken($color: springgreen, $amount: 5%);
      transition-delay: 1ms;
    }
  }
  .wrong-button {
    background-color: lighten($color: tomato, $amount: 10%);
    // border: solid 2px darken($color: tomato, $amount: 20%);
    // box-shadow: 1px 1px 10px 0px darken($color: tomato, $amount: 20%);

    &:hover {
      box-shadow: 1px 1px 20px 10px darken($color: tomato, $amount: 5%);
      transition-delay: 1ms;
    }
  }
}

/*
 Flashcard.jsx properties
*/
.container-3D-space {
  height: 300px;
  width: 240px;
}

.flashcard {
  text-align: center;
  cursor: pointer;
  display: flex;

  .front-of-card {
    position: absolute;
    transform: perspective(1000px) rotateY(0deg);
    background-color: aliceblue;
    height: 300px;
    width: 240px;
    border-radius: 1.5em;
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 30px 5px rosybrown;

    .chinese-character {
      font-size: 4em;
    }
  }

  .back-of-card {
    position: absolute;
    transform: perspective(1000px) rotateY(180deg);
    background-color: peachpuff;
    height: 300px;
    width: 240px;
    border-radius: 1.5em;
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    box-shadow: 2px 2px 30px 5px rosybrown;

    .pinyin {
      font-size: 2.5em;
    }
    .english-text {
      font-size: 2.5em;
    }
  }

  &:hover > .front-of-card {
    transform: perspective(1000px) rotateY(-180deg);
  }
  &:hover > .back-of-card {
    transform: perspective(1000px) rotateY(0deg);
  }
}
